/*! modern-normalize v0.6.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

*,
*::after,
::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: "THICCCBOI", sans-serif;
  line-height: 1.16;
  color: #757683;
  background-color: #ffffff;
}

.container {
  max-width: 1550px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 1520px) {
  .container {
    width: 1550px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1519px) {
  .container {
    width: 992px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 768px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    width: 480px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.btn {
  font-family: "THICCCBOI", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.16;
  border: none;
  cursor: pointer;
  padding: 19px 35px;
  background-color: #ff694b;
  color: #ffffff;
}

.header {
  padding-top: 40px;
  padding-bottom: 100px;
}
.header__link {
  display: block;
  transform: rotate(0);
  transition: transform 250ms linear;
}
.header__link:hover, .header__link:focus {
  transform: rotate(180deg);
}
.header__svg {
  fill: #ff694b;
}
.header__btn {
  box-shadow: 0px 12px 30px rgba(255, 105, 75, 0.35);
  transform: scale(1);
  transition: transform 250ms linear;
}
.header__btn:hover, .header__btn:focus {
  transform: scale(1.05);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 54px;
}
.header-list__link {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  display: block;
  transition: color 250ms linear;
  color: #1b1c23;
}
.header-list__link:hover, .header-list__link:focus {
  color: #ff694b;
}

.hero {
  padding-bottom: 160px;
}
.hero__img {
  width: 789px;
}

.hero-content {
  display: flex;
  align-items: flex-end;
}

.hero-left {
  max-width: 556px;
}
.hero-left__text-span {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  color: #ff694b;
}
.hero-left__text-span::before {
  content: "";
  width: 50px;
  margin-right: 15px;
  border: 1px solid #ff694b;
  background-color: #ff694b;
}
.hero-left__title {
  font-weight: 700;
  font-size: 80px;
  line-height: 1.15;
  margin-bottom: 33px;
  color: #1b1c23;
}
.hero-left__text {
  position: relative;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.58;
  max-width: 450px;
  margin-left: 20px;
}
.hero-left__text::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -84px;
  width: 130px;
  height: 1px;
  opacity: 0.3;
  transform: rotate(90deg);
  background-color: #757683;
}
.hero-left__under-span {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.hero-left__under-span::before {
  content: "";
  width: 412px;
  height: 1px;
  opacity: 0.3;
  margin-bottom: 20px;
  display: block;
  background-color: #757683;
}

.hero-left-box {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.hero-left-box__btn {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 0px 10px 0px 0px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1);
  transition: transform 250ms linear, background-color 250ms linear;
  background-color: #1b1c23;
}
.hero-left-box__btn:hover, .hero-left-box__btn:focus {
  transform: scale(1.1);
  background-color: #ff694b;
}
.hero-left-box__text {
  font-weight: 500;
  font-size: 18px;
  margin-left: 15px;
  color: #1b1c23;
}

.hero-right {
  max-width: 212px;
  margin-bottom: 160px;
  margin-left: -36px;
}
.hero-right__text-span {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.12;
  text-transform: uppercase;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.hero-right__text-span::before {
  content: "";
  width: 35px;
  height: 1px;
  margin-right: 8px;
  background-color: #757683;
}
.hero-right__title, .hero-right__text {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.13;
  margin-bottom: 10px;
  color: #1b1c23;
}
.hero-right__text {
  font-weight: 500;
  margin-bottom: 20px;
}
.hero-right__link {
  font-weight: 500;
  font-size: 18px;
  text-decoration: underline;
  display: inline-block;
  transform: scale(1);
  transition: transform 250ms linear;
  color: #ff694b;
}
.hero-right__link:hover, .hero-right__link:focus {
  transform: scale(1.1);
}/*# sourceMappingURL=main.css.map */