/*! modern-normalize v0.6.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

*,
*::after,
::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: "THICCCBOI", sans-serif;
  line-height: 1.16;
  color: #757683;
  background-color: #ffffff;
}

.container {
  max-width: 1550px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 1520px) {
  .container {
    width: 1550px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1519px) {
  .container {
    width: 992px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 768px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    width: 480px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.btn {
  font-family: "THICCCBOI", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.16;
  border: none;
  cursor: pointer;
  padding: 19px 35px;
  background-color: #ff694b;
  color: #ffffff;
}

.logo {
  display: block;
  transform: rotate(0);
  transition: transform 350ms linear;
}
.logo:hover, .logo:focus {
  transform: rotate(180deg);
}
.logo--footer {
  display: inline-block;
}

.header {
  padding-top: 40px;
  padding-bottom: 100px;
}
.header__svg {
  fill: #ff694b;
}
.header__btn {
  box-shadow: 0px 12px 30px rgba(255, 105, 75, 0.35);
  transform: scale(1);
  transition: transform 250ms linear;
}
.header__btn:hover, .header__btn:focus {
  transform: scale(1.05);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 54px;
}
@media screen and (max-width: 767px) {
  .header-list {
    gap: 35px;
  }
}
.header-list__link {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  display: block;
  transition: color 250ms linear;
  color: #1b1c23;
}
.header-list__link--footer {
  color: #757683;
}
.header-list__link:hover, .header-list__link:focus {
  color: #ff694b;
}

.hero {
  padding-bottom: 160px;
}
.hero__img {
  width: 789px;
}

.hero-content {
  display: flex;
  align-items: flex-end;
}

.hero-left {
  max-width: 556px;
}
.hero-left__text-span {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  color: #ff694b;
}
.hero-left__text-span::before {
  content: "";
  width: 50px;
  margin-right: 15px;
  border: 1px solid #ff694b;
  background-color: #ff694b;
}
.hero-left__title {
  font-weight: 700;
  font-size: 80px;
  line-height: 1.15;
  margin-bottom: 33px;
  color: #1b1c23;
}
.hero-left__text {
  position: relative;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.58;
  max-width: 450px;
  margin-left: 20px;
}
.hero-left__text::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -84px;
  width: 130px;
  height: 1px;
  opacity: 0.3;
  transform: rotate(90deg);
  background-color: #757683;
}
.hero-left__under-span {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.hero-left__under-span::before {
  content: "";
  width: 412px;
  height: 1px;
  opacity: 0.3;
  margin-bottom: 20px;
  display: block;
  background-color: #757683;
}

.hero-left-box {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.hero-left-box__btn {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 0px 10px 0px 0px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1);
  transition: transform 250ms linear, background-color 250ms linear;
  background-color: #1b1c23;
}
.hero-left-box__btn:hover, .hero-left-box__btn:focus {
  transform: scale(1.1);
  background-color: #ff694b;
}
.hero-left-box__text {
  font-weight: 500;
  font-size: 18px;
  margin-left: 15px;
  color: #1b1c23;
}

.hero-right {
  max-width: 212px;
  margin-bottom: 160px;
  margin-left: -36px;
}
.hero-right__text-span {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.12;
  text-transform: uppercase;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.hero-right__text-span::before {
  content: "";
  width: 35px;
  height: 1px;
  margin-right: 8px;
  background-color: #757683;
}
.hero-right__title, .hero-right__text {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.13;
  margin-bottom: 10px;
  color: #1b1c23;
}
.hero-right__text {
  font-weight: 500;
  margin-bottom: 20px;
}
.hero-right__link {
  font-weight: 500;
  font-size: 18px;
  text-decoration: underline;
  display: inline-block;
  transform: scale(1);
  transition: transform 250ms linear;
  color: #ff694b;
}
.hero-right__link:hover, .hero-right__link:focus {
  transform: scale(1.1);
}

.projects {
  padding-bottom: 160px;
}
.projects__box {
  max-width: 253px;
  margin-bottom: 66px;
}
.projects__text {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 10px;
}
.projects__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.43;
  color: #1b1c23;
}
.projects__img {
  width: 640px;
}

.projects-content {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.projects-left,
.projects-right {
  padding: 55px 55px 0 55px;
  background-color: #fdf5ef;
}

.projects-right {
  background-color: #f3f1fa;
}

.clients {
  padding-bottom: 160px;
}
.clients__img {
  width: 564px;
}

.clients-content {
  display: flex;
  align-items: center;
  gap: 211px;
}

.clients-right__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.29;
  margin-bottom: 60px;
  max-width: 670px;
  color: #1b1c23;
}

.clients-list {
  display: flex;
  align-items: center;
  gap: 75px;
  margin-bottom: 60px;
}
.clients-list__item {
  max-width: 335px;
  display: flex;
  gap: 25px;
}
.clients-list__span {
  font-family: "THICCCBOI", serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  width: 82px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #ff694b;
}
.clients-list__title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 12px;
  color: #1b1c23;
}
.clients-list__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.clients-list-under {
  display: flex;
  gap: 100px;
}
.clients-list-under__item {
  max-width: 129px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.clients-list-under__span {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.14;
  color: #1b1c23;
}
.clients-list-under__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
}

.services {
  padding-bottom: 160px;
}
.services__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.29;
  text-align: center;
  margin-bottom: 60px;
  color: #1b1c23;
}
.services__btn {
  box-shadow: 0px 12px 30px rgba(255, 105, 75, 0.35);
  transform: scale(1);
  transition: transform 250ms linear;
  display: block;
  margin: 0 auto;
  margin-bottom: -125px;
}
.services__btn:hover, .services__btn:focus {
  transform: scale(1.05);
}

.services-content {
  padding: 100px;
  background-image: url(../../img/services-bgc.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 110px;
}
.services-list__item {
  max-width: 420px;
  padding: 50px;
  box-shadow: 0px 10px 30px rgba(228, 228, 228, 0.25);
  transform: scale(1);
  transition: transform 250ms linear;
  background-color: #ffffff;
}
.services-list__item:hover, .services-list__item:focus {
  transform: scale(1.05);
}
.services-list__item:hover .services-list__box, .services-list__item:focus .services-list__box {
  background-color: #ff694b;
}
.services-list__item:hover .services-list__svg, .services-list__item:focus .services-list__svg {
  stroke: #ffffff;
}
.services-list__svg {
  transition: fill 250ms linear, stroke 250ms linear;
  fill: transparent;
  stroke: #ff694b;
}
.services-list__content {
  max-width: 310px;
}
.services-list__wrap {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 23px;
}
.services-list__box {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms linear;
  background-color: rgba(255, 105, 75, 0.1);
}
.services-list__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  max-width: 190px;
  color: #1b1c23;
}
.services-list__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.67;
  margin-bottom: 36px;
}
.services-list__link {
  display: inline-block;
  transform: scale(1);
  transition: transform 250ms linear;
}
.services-list__link:hover, .services-list__link:focus {
  transform: scale(1.1);
}
.services-list__svg-arrow {
  transition: fill 250ms linear;
  fill: #ff694b;
}

.skills__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.29;
  color: #1b1c23;
}
@media screen and (max-width: 767px) {
  .skills__title {
    font-size: 38px;
  }
}
.skills__wrap {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 60px;
}
@media screen and (max-width: 767px) {
  .skills__wrap {
    margin-bottom: 30px;
  }
}
.skills__width {
  width: 710px;
}
@media screen and (max-width: 767px) {
  .skills__width {
    width: 400px;
  }
}

.skills-content {
  display: flex;
  gap: 100px;
}
@media screen and (min-width: 992px) and (max-width: 1519px) {
  .skills-content {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .skills-content {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .skills-content {
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }
}

.skills-left-top__img,
.skills-right-top__img {
  width: 50px;
}
@media screen and (max-width: 767px) {
  .skills-left-top__img,
.skills-right-top__img {
    width: 40px;
  }
}

.skills-list__up, .skills-list__down {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.skills-list__up--width {
  width: 640px;
}
@media screen and (max-width: 767px) {
  .skills-list__up--width {
    width: 400px;
  }
}
.skills-list__item:not(:last-child) {
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .skills-list__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
.skills-list__item::after {
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  margin-top: 40px;
  background-color: #c8c8c8;
}
@media screen and (max-width: 767px) {
  .skills-list__item::after {
    margin-top: 20px;
  }
}
.skills-list__wrap {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 767px) {
  .skills-list__wrap {
    display: block;
  }
}
.skills-list__left {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills-list__left--blue {
  background-color: #dae2ff;
}
.skills-list__left--orange {
  background-color: #ffccc1;
}
.skills-list__left--green {
  background-color: #d1f7ff;
}
.skills-list__title {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 8px;
  color: #1b1c23;
}
@media screen and (max-width: 767px) {
  .skills-list__title {
    font-size: 18px;
  }
}
.skills-list__text {
  font-weight: 500;
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  .skills-list__text {
    font-size: 14px;
  }
}
.skills-list__span {
  position: relative;
  font-weight: 500;
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  .skills-list__span {
    font-size: 14px;
  }
}
.skills-list__span::before {
  content: "";
  position: absolute;
  top: 42%;
  left: -14px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #757683;
}
.skills-list__link {
  display: inline-block;
}
.skills-list__link:hover .skills-list__svg, .skills-list__link:focus .skills-list__svg {
  stroke: #ff694b;
}
.skills-list__svg {
  transition: stroke 250ms linear;
  fill: transparent;
  stroke: #1b1c23;
}
@media screen and (max-width: 767px) {
  .skills-list__right {
    margin-top: 22px;
  }
}

.connection {
  padding-top: 160px;
}
@media screen and (max-width: 767px) {
  .connection {
    padding-top: 60px;
  }
}
.connection__img {
  width: 484px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .connection__img {
    margin-left: -200px;
  }
}
@media screen and (max-width: 767px) {
  .connection__img {
    display: none;
  }
}

.connection-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 130px;
  background-color: #1b1c23;
  background-image: url(../../img/connection-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 992px) and (max-width: 1519px) {
  .connection-content {
    padding: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .connection-content {
    overflow: hidden;
    gap: 10px;
    padding: 0 10px 0 0;
  }
}
@media screen and (max-width: 767px) {
  .connection-content {
    padding: 20px;
  }
}

.connection-right__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.14;
  margin-bottom: 15px;
  color: #ffffff;
}
.connection-right__title--margin {
  margin-bottom: 25px;
}
@media screen and (max-width: 767px) {
  .connection-right__title {
    font-size: 26px;
    text-align: center;
  }
}
.connection-right__text {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 40px;
  color: #a6a7ae;
}
@media screen and (max-width: 767px) {
  .connection-right__text {
    font-size: 16px;
    text-align: center;
  }
}
.connection-right__btn {
  transform: scale(1);
  transition: transform 250ms linear;
}
.connection-right__btn:hover, .connection-right__btn:focus {
  transform: scale(1.05);
}
@media screen and (max-width: 767px) {
  .connection-right__btn {
    margin: 0 auto;
    display: block;
  }
}

.reviews {
  padding-top: 160px;
}
@media screen and (max-width: 767px) {
  .reviews {
    padding-top: 60px;
  }
}

.reviews-top {
  max-width: 190px;
  margin: 0 auto;
  text-align: center;
}
.reviews-top__svg {
  fill: #ff694b;
  margin-bottom: 40px;
}
.reviews-top__box {
  margin-bottom: 50px;
}
.reviews-top__title {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 10px;
  color: #1b1c23;
}
.reviews-top__text {
  font-weight: 500;
  font-size: 18px;
  color: #ff694b;
}

.reviews-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
  margin-bottom: 50px;
}
@media screen and (min-width: 992px) and (max-width: 1519px) {
  .reviews-bottom {
    gap: 48px;
  }
}
@media screen and (max-width: 767px) {
  .reviews-bottom {
    gap: 76px;
  }
}
.reviews-bottom__btn {
  width: 60px;
  height: 60px;
  border: none;
  cursor: pointer;
  background-color: #ff694b;
}
.reviews-bottom__text {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.4;
  text-align: center;
  max-width: 745px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .reviews-bottom__text {
    font-size: 20px;
    max-width: 378px;
  }
}
@media screen and (max-width: 767px) {
  .reviews-bottom__text {
    font-size: 18px;
    max-width: 178px;
  }
}

.reviews-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
@media screen and (max-width: 767px) {
  .reviews-list {
    overflow: hidden;
  }
}
.reviews-list__img {
  width: 80px;
}
.reviews-list__img--active {
  width: 120px;
}

.blog {
  padding-top: 160px;
}
@media screen and (max-width: 767px) {
  .blog {
    padding-top: 60px;
  }
}
.blog__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.14;
  text-align: center;
  margin-bottom: 60px;
  color: #1b1c23;
}

.blog-list {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1520px) {
  .blog-list {
    gap: 30px;
    align-items: flex-start;
  }
}
@media screen and (min-width: 992px) and (max-width: 1519px) {
  .blog-list {
    flex-wrap: wrap;
    margin: -30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .blog-list {
    flex-wrap: wrap;
    gap: 80px;
  }
}
@media screen and (max-width: 767px) {
  .blog-list {
    flex-wrap: wrap;
    gap: 80px;
  }
}
.blog-list__box {
  padding: 40px 50px 70px;
}
.blog-list__item {
  position: relative;
  box-shadow: 0;
  max-width: 487px;
  border: 1px solid #dfdfdf;
  transform: scale(1);
  transition: box-shadow 250ms linear, transform 250ms linear;
}
.blog-list__item:hover, .blog-list__item:focus {
  transform: scale(1.02);
  box-shadow: 0px 15px 40px rgba(204, 204, 204, 0.25);
}
@media screen and (min-width: 992px) and (max-width: 1519px) {
  .blog-list__item {
    width: calc((100% - 60px - 60px) / 2);
    margin: 30px;
  }
}
@media screen and (max-width: 767px) {
  .blog-list__item {
    max-width: 437px;
  }
}
.blog-list__img {
  width: 486px;
}
@media screen and (min-width: 992px) and (max-width: 1519px) {
  .blog-list__img {
    width: 450px;
  }
}
@media screen and (max-width: 767px) {
  .blog-list__img {
    width: 436px;
  }
}
.blog-list__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.33;
  color: #1b1c23;
}

.blog-list-content {
  display: flex;
  align-items: center;
  gap: 45px;
  margin-bottom: 30px;
}
.blog-list-content__left, .blog-list-content__right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.blog-list-content__svg {
  fill: #ff694b;
}
.blog-list-content__text {
  font-weight: 500;
  font-size: 18px;
}

.blog-list-bottom {
  position: absolute;
  left: 50px;
  bottom: -30px;
  border: 1px solid #dfdfdf;
  border-radius: 30px;
  padding: 10px;
  max-width: 195px;
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #ffffff;
}
.blog-list-bottom__img {
  width: 40px;
}
.blog-list-bottom__text {
  font-weight: 700;
  font-size: 18px;
  color: #1b1c23;
}

.website {
  padding-top: 190px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .website {
    padding-top: 100px;
  }
}
.website__title, .website__text, .website__link {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.33;
  color: #1b1c23;
}
.website__text {
  line-height: 1.14;
  margin-bottom: 80px;
}
@media screen and (max-width: 767px) {
  .website__text {
    margin-bottom: 40px;
  }
}
.website__link {
  line-height: 1.14;
  display: block;
  transform: scale(1);
  transition: transform 250ms linear;
  color: #ff694b;
}
.website__link:hover, .website__link:focus {
  transform: scale(1.05);
}

.website-content {
  max-width: 812px;
  margin: 0 auto;
}

.footer {
  padding-top: 160px;
  padding-bottom: 100px;
}
@media screen and (max-width: 767px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.footer__svg {
  fill: #ff694b;
}
.footer__text {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin-top: 40px;
  color: #899098;
}
@media screen and (max-width: 767px) {
  .footer__text {
    font-size: 15px;
  }
}

.footer-content {
  padding: 100px;
  background-color: #f8f8f8;
}
@media screen and (max-width: 767px) {
  .footer-content {
    padding: 60px;
  }
}

.footer-top {
  max-width: 486px;
  margin: 0 auto 85px;
  text-align: center;
}
.footer-top__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.14;
  margin-bottom: 30px;
  margin-top: 60px;
  color: #1b1c23;
}
.footer-top__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.67;
  margin-bottom: 40px;
}

.footer-soclist {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.footer-soclist__link {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 10px 25px rgba(210, 210, 210, 0.25);
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 250ms linear;
  background-color: #ffffff;
}
.footer-soclist__link:hover, .footer-soclist__link:focus {
  border: 1px solid #ff694b;
}
.footer-soclist__link:hover .footer-soclist__svg, .footer-soclist__link:focus .footer-soclist__svg {
  stroke: #ff694b;
}
.footer-soclist__svg {
  transition: stroke 250ms linear;
  fill: transparent;
  stroke: #757683;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 992px) and (max-width: 1519px) {
  .footer-bottom {
    flex-direction: column;
    gap: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .footer-bottom {
    flex-direction: column;
    gap: 30px;
  }
}
@media screen and (max-width: 767px) {
  .footer-bottom {
    flex-direction: column;
    gap: 30px;
  }
}
.footer-bottom__link {
  font-weight: 500;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: color 250ms linear;
  color: #757683;
}
.footer-bottom__link:hover, .footer-bottom__link:focus {
  color: #ff694b;
}
.footer-bottom__link:hover .footer-bottom__svg, .footer-bottom__link:focus .footer-bottom__svg {
  stroke: #ff694b;
}
.footer-bottom__svg {
  transition: stroke 250ms linear;
  fill: transparent;
  stroke: #757683;
}/*# sourceMappingURL=main.css.map */