body {
  font-family: "THICCCBOI", sans-serif;

  color: $main-text;
  background-color: $main-bgc;
}

.container {
  max-width: 1550px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @include desktop-max {
    width: 1550px;
  }

  @include desktop-min {
    width: 992px;
  }

  @include tablet {
    width: 768px;
  }

  @include mobile {
    width: 480px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.btn {
  font-family: "THICCCBOI", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.16;
  border: none;
  cursor: pointer;

  padding: 19px 35px;

  background-color: $accent;
  color: $white-text;
}
