.reviews {
  padding-top: 160px;

  @include mobile {
    padding-top: 60px;
  }
}

.reviews-top {
  max-width: 190px;
  margin: 0 auto;
  text-align: center;

  &__svg {
    fill: $accent;
    margin-bottom: 40px;
  }

  &__box {
    margin-bottom: 50px;
  }

  &__title {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 10px;

    color: $second-text;
  }

  &__text {
    font-weight: 500;
    font-size: 18px;

    color: $accent;
  }
}

.reviews-bottom {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
  margin-bottom: 50px;

  @include desktop-min {
    gap: 48px;
  }

  @include mobile {
    gap: 76px;
  }

  &__text {
    font-weight: 600;
    font-size: 30px;
    line-height: 1.4;
    text-align: center;
    // max-width: 745px;
    width: 745px;

    @include tablet {
      font-size: 20px;
      // max-width: 378px;
      width: 378px;
    }

    @include mobile {
      font-size: 18px;
      // max-width: 178px;
      width: 178px;
    }
  }
}

.slider-wrap {
  display: flex;
  flex-direction: column;
  gap: 70px;
  overflow: hidden;

  &__text {
    display: flex;
    gap: 60px;
  }
}

.slick-arrow {
  position: absolute;
  top: 280px;
  width: 60px;
  height: 60px;
  border: none;
  cursor: pointer;
  font-size: 0;
  z-index: 1;

  background-color: $accent;

  &__svg {
    position: absolute;
    top: 90px;

    &--left {
      left: 200px;
    }

    &--right {
      right: 200px;
    }
  }
}
.slick-prev {
  left: 180px;
}

.slick-next {
  right: 180px;
}

.slider {
  width: 80px;
  margin: 0 auto;
  overflow: hidden;
}

.slider-line {
  position: relative;
  left: 0;
  display: flex;
  align-items: center;

  transition: 0.5s linear;

  @include mobile {
    overflow: hidden;
  }
  &__img {
    width: 80px;

    &:not(:last-child) {
      margin-right: 60px;
    }
  }
}
